<%= form_with model: task_list, url: polymorphic_path([@taskable, task_list]), local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>


  <%= form.submit class: "btn btn-success" %>
<% end %>
